html,
body {
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

*,
*:before,
*:after,
input,
select,
textarea {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}
